/Trabajo Practico 1/__pycache__/
/Trabajo Practico 2/__pycache__/
/Trabajo Practico 2/AlgoritmosDeBusqueda/__pycache__/
/Trabajo Practico 3/__pycache__/
/Trabajo Practico 3/.vscode/
/Trabajo Practico 3/AlgoritmoGenetico/__pycache__/
/Trabajo Practico Integrador/__pycache__/
.vscode/settings.json
